[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "gravitas"]
	path = gravitas
	url = https://github.com/sayani07/gravitas
	shallow = true
	registered = true
[submodule "gghdr"]
	path = gghdr
	url = https://github.com/sayani07/gghdr
	shallow = true
	registered = true
